section {
    width: 100% !important;
}

.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 70px;
    border-bottom: 1px solid #dedfe5;
    background-color: #eeeff4;
    z-index: 999;
    &__left {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
    }
    &__right {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
    }
    &__nav {
        /*display: inline-block;*/
        display: none;
        padding: 25px;
        border: none;
        background: transparent;
        outline: none;
        border-right: 1px solid #dedfe5;
    }
    &__logo {
        display: inline-block;
        margin-left: 26px;
        img {
            max-width: 100%;
        }
    }
    &__phone-number {
        display: inline-block;
        margin-right: 34px;
        color: #000000;
        font-family: "P 22 Underground CY Pro";
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        transition: all 0.15s ease-out;
        &:hover {
            color: #db084d;
            text-decoration: none;
        }
    }
    &__call {
        display: inline-block;
        background: none;
        border: none;
        outline: none;
        background-color: #db084d;
        padding: 23px 36px;
        border: 1px solid #db084d;
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 16px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }
}

.main-perfomance {
    display: flex;
    position: relative;
    padding-top: 70px;
    flex-flow: column nowrap;
    height: 100vh;
    background: url('../images/1_bg.png') repeat;
    overflow-y: auto;
    &__triada {
        min-height: 610px;
        flex: 1 1 auto;
        svg {
            width: 100% !important;
            position: absolute !important;
        }
    }
    &__title {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        margin: 0 34px;
        text-shadow: -1px -1px 0 #dedfe5, 1px -1px 0 #dedfe5, -1px 1px 0 #dedfe5, 1px 1px 0 #dedfe5;
        color: #eeeff4;
        font-family: "DIN Pro";
        font-size: 200px;
        font-weight: 900;
        line-height: 0.9;
        text-transform: uppercase;
        &_small {
            font-size: 80px;
        }
    }
    &__features {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 25px 0;
        border-top: 1px solid #dedfe5;
        background: #eeeff4;
    }
    &__flag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 275px;
        padding: 17px 12px;
        padding-right: 40px;
        background: url('../images/1_1.png') no-repeat center;
        background-size: 100% 100%;
        color: #e72165;
        font-family: "DIN Pro";
        font-size: 20px;
        font-weight: 900;
        letter-spacing: -2px;
        line-height: 1.15;
        text-transform: uppercase;
        &:before {
            display: block;
            position: absolute;
            content: '';
            left: -2px;
            top: 99%;
            width: 10px;
            height: 77px;
            background: url('../images/1_2.png') no-repeat center;
        }
    }
    &__feature {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        max-width: 275px;
        padding-left: 30px;
        &_r:before {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            background: url('../images/icon_ruble.png') no-repeat center;
        }
        &_g:before {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            background: url('../images/icon_goal.png') no-repeat center;
        }
        &_c:before {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            background: url('../images/icon_complete.png') no-repeat center;
        }
    }
    &__feature-title {
        display: block;
        margin-bottom: 10px;
        color: #000000;
        font-family: "P 22 Underground CY Pro";
        font-size: 18px;
        font-weight: 800;
    }
    &__feature-text {
        color: #000000;
        font-family: "P 22 Underground CY Pro";
        font-size: 16px;
        font-weight: 300;
    }
}

.main-how {
    position: relative;
    width: 100%;
    background-color: #1c1f33;
    &__what {
        padding: 0 !important;
    }
    &__first {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 50vh;
        padding: 75px 100px 100px 100px;
        background-color: #e72165;
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 16px;
        font-weight: 300;
        p {
            max-width: 415px;
            margin-bottom: 30px;
        }
    }
    &__second {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 50vh;
        padding: 75px 100px 100px 100px;
        background-color: #eeeff4;
        color: #1c1f33;
        font-family: "P 22 Underground CY Pro";
        font-size: 16px;
        font-weight: 300;
        p {
            max-width: 415px;
            margin-bottom: 30px;
        }
    }
    &__mounth {
        display: flex;
        flex-flow: column nowrap;
        min-height: 75vh;
        padding: 45px 45px 100px 100px;
        background-color: #1c1f33;
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 18px;
        font-weight: 300;
        &-title {
            display: block;
            margin-bottom: 30px;
            color: #e72165;
            font-family: "DIN Pro";
            font-size: 36px;
            font-weight: 900;
        }
        &-numbers {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 20px;
            &_active {
                background-color: #e72165 !important;
                color: #1c1f33 !important;
            }
            li {
                display: inline-flex;
                width: 35px;
                height: 35px;
                margin-right: 15px;
                justify-content: center;
                align-items: center;
                border-radius: 999rem;
                border: 1px solid #e72165;
                background-color: rgba(231, 33, 101, 0);
                color: #e72165;
                font-family: "P 22 Underground CY Pro";
                font-size: 18px;
                font-weight: 300;
            }
        }
        &-text-title {
            display: block;
            margin-bottom: 20px;
            color: #ffffff;
            font-family: "DIN Pro";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-text {
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 18px;
            font-weight: 300;
        }
    }
    &__companies {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 !important;
        background-color: #ffffff;
        border-left: 1px solid #e8e8eb;
        overflow-y: auto;
        &-title {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 180px;
            padding: 38px auto 34px;
            color: #000000;
            font-family: "P 22 Underground CY Pro";
            font-size: 18px;
            font-weight: 800;
            text-align: center;
        }
    }
    &__cards {
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #e8e8eb;
    }
    &__card {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 33.33%;
        height: 90px;
        padding: 18px;
        background: #ffffff;
        border-top: 1px solid #e8e8eb;
        border-right: 1px solid #e8e8eb;
        &_active {
            background: #eeeff4 !important;
            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 25px;
                height: 25px;
                right: 6px;
                top: 6px;
                background: url('../images/icon_choose.png') no-repeat center;
            }
        }
    }
}

.main-marketing {
    background: #eeeff4;
    &__cards {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }
    &__card {
        display: inline-flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        width: 20%;
        min-width: 290px;
        min-height: 355px;
        padding: 35px 22px 20px 22px;
        border: 1px solid #dedfe5;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.15s ease-out;
        &_have-tags {
            justify-content: space-between !important;
        }
        &-tags {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            transition: all 0.15s ease-out;
            li {
                display: inline-block;
            }
        }
        &-tag {
            display: inline-block;
            margin: 0 4px 6px 0;
            padding: 5px 12px;
            background-color: #dadada;
            opacity: 0.38;
            color: #000000;
            font-family: "P 22 Underground CY Pro";
            font-size: 14px;
            font-weight: 300;
            border-radius: 999rem;
            transition: all 0.15s ease-out;
        }
        svg {
            transition: all 0.15s ease-out;
            pointer-events: all !important;
            * {
                transition: all 0.15s ease-out;
            }
        }
        &:hover {
            border: 1px solid #dedfe5;
            background-color: rgba(255, 255, 255, 1);
            .main-marketing__card-tag {
                opacity: 1;
            }
        }
        &:nth-child(1) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_11.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 91px;
                height: 91px;
                background: url('../images/6_1.png') no-repeat center;
            }
        }
        &:nth-child(2) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_12.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 126px;
                height: 81px;
                background: url('../images/6_2.png') no-repeat center;
            }
        }
        &:nth-child(3) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_13.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 149px;
                height: 88px;
                background: url('../images/6_3.png') no-repeat center;
            }
        }
        &:nth-child(4) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_14.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 90px;
                height: 90px;
                background: url('../images/6_4.png') no-repeat center;
            }
        }
        &:nth-child(5) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_15.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 126px;
                height: 81px;
                background: url('../images/6_5.png') no-repeat center;
            }
        }
        &:nth-child(6) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_16.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 77px;
                height: 88px;
                background: url('../images/6_6.png') no-repeat center;
            }
        }
        &:nth-child(7) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_17.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 141px;
                height: 95px;
                background: url('../images/6_7.png') no-repeat center;
            }
        }
        &:nth-child(8) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_18.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 119px;
                height: 96px;
                background: url('../images/6_8.png') no-repeat center;
            }
        }
        &:nth-child(9) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_19.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 58px;
                height: 74px;
                background: url('../images/6_9.png') no-repeat center;
            }
        }
        &:nth-child(10) {
            &:hover {
                .main-marketing__card-svg {
                    background: url('../images/6_20.png') no-repeat center !important;
                }
            }
            .main-marketing__card-svg {
                width: 219px;
                height: 78px;
                background: url('../images/6_10.png') no-repeat center;
            }
        }
    }
    &__card-svg {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100px;
        margin: 0 auto 20px;
    }
    &__card-number {
        display: block;
        margin-bottom: 30px;
        color: #929292;
        font-family: "P 22 Underground CY Pro";
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    &__card-title {
        display: block;
        max-width: 215px;
        margin: 0 auto 40px auto;
        color: #000000;
        font-family: "P 22 Underground CY Pro";
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
}

.main-team {
    width: 100%;
    background: url('../images/7_bg.jpg') no-repeat center;
    background-size: cover;
    z-index: 9999;
    &__about {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        height: 100vh;
        padding: 100px;
        overflow-y: auto;
        p {
            display: block;
            max-width: 500px;
            margin-bottom: 30px;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 16px;
            font-weight: 300;
        }
    }
    &__title {
        display: block;
        margin-top: 35px;
        margin-bottom: 25px;
        color: #ffffff;
        font-family: "DIN Pro";
        font-size: 36px;
        font-weight: 900;
    }
    &__button {
        display: inline-flex;
        align-items: center;
        padding: 12px 14px;
        border: 1px solid #e72165;
        background-color: rgba(255, 255, 255, 0);
        color: #e72165;
        font-family: "P 22 Underground CY Pro";
        font-size: 20px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:hover {
            background: #e72165;
            color: #ffffff;
            text-decoration: none;
        }
        img {
            margin-left: 12px;
        }
    }
    &__cards {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        padding: 45px 100px 100px 45px;
    }
    &__card {
        display: flex;
        align-items: flex-end;
        width: 200px;
        height: 200px;
        margin: 6px;
        transition: all 0.15s ease-out;
        &:nth-child(7n+1) {
            .main-team__card-title {
                background: rgba(180, 44, 81, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+2) {
            .main-team__card-title {
                background: rgba(190, 187, 137, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+3) {
            .main-team__card-title {
                background: rgba(53, 141, 181, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+4) {
            .main-team__card-title {
                background: rgba(92, 93, 146, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+5) {
            .main-team__card-title {
                background: rgba(249, 233, 61, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+6) {
            .main-team__card-title {
                background: rgba(179, 84, 129, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+7) {
            .main-team__card-title {
                background: rgba(209, 145, 52, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
        &:nth-child(7n+8) {
            .main-team__card-title {
                background: rgba(71, 167, 161, 0.8);
            }
            &:hover {
                .main-team__card-title {
                    background: transparent !important;
                    text-shadow: 1px 1px 3px #000000 !important;
                }
            }
        }
    }
    &__card-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 12px;
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 14px;
        font-weight: 300;
        transition: all 0.15s ease-out;
    }
}

.main-customers {
    background: #eeeff4;
    &__cards {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }
    &__card-pop-title {
        display: block;
        margin-bottom: 20px;
        color: #717274;
        font-family: "DIN Pro";
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;
        width: 25%;
        min-height: 350px;
        padding: 24px;
        border: 1px solid #dedfe5;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.15s ease-out;
        p {
            max-width: 400px;
        }
        &:hover {
            text-decoration: none;
        }
        &_all {
            background: #e72165 !important;
            .main-customers__card-title {
                color: #ffffff !important;
            }
        }
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            img {
                max-width: 100%;
            }
        }
    }
    &__card-title {
        display: block;
        color: #717274;
        font-family: "P 22 Underground CY Pro";
        font-size: 14px;
        font-weight: 300;
    }
}

.main-begin {
    width: 100%;
    min-height: 100vh;
    padding: 200px 75px 45px 75px;
    background: #1c1f33 url('../images/9_bg.png') repeat;
    .col-md-6:first-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    &__stas {
        display: flex;
        flex-flow: column nowrap;
        &-photo {
            display: block;
            width: 185px;
            height: 185px;
            margin-bottom: 15px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-name {
            display: block;
            margin-bottom: 15px;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 14px;
            font-weight: 800;
        }
        &-who {
            display: block;
            max-width: 175px;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 14px;
            font-weight: 300;
        }
    }
    &__about {
        max-width: 620px;
        padding: 35px 70px 60px 40px;
        border: 1px solid #e72165;
        background-color: #1c1f33;
        p {
            max-width: 510px;
            margin-bottom: 30px;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 16px;
            font-weight: 300;
        }
    }
    &__form {
        button {
            display: inline-block;
            margin-left: 14px;
            padding: 14px 20px;
            border: 1px solid #e72165;
            background-color: #e72165;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 16px;
            font-weight: 300;
            transition: all 0.15s ease-out;
            &:hover {
                background: transparent;
                color: #e72165
            }
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ffffff;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #ffffff;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: #ffffff;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: #ffffff;
        }
    }
    &__form-input {
        display: block;
        margin-bottom: 20px;
        margin-right: 15px;
        max-width: 250px;
        padding: 12px;
        border: 1px solid #444757;
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 16px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:last-child {
            margin-right: 0;
        }
        &:focus {
            outline: none;
            border-color: #e72165;
        }
    }
    &__form-row {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
    &__form-time {
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]+label {
            display: inline-block;
            padding: 14px 24px;
            border: 1px solid #444757;
            background-color: rgba(0, 0, 0, 0);
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 16px;
            font-weight: 300;
            transition: all 0.15s ease-out;
            .main-begin__form-time {
                display: inline-flex;
                position: relative;
                span {
                    font-size: 8px;
                }
            }
            * {
                transition: all 0.15s ease-out;
            }
        }
        input[type="radio"]:checked+label {
            border-color: #ffffff !important;
        }
    }
    &__form-title {
        display: block;
        margin-bottom: 25px;
        color: #ffffff;
        font-family: "DIN Pro";
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__form-small {
        display: block;
        margin-bottom: 7px;
        color: #858aa8;
        font-family: "P 22 Underground CY Pro";
        font-size: 8px;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    background: #1c1f33;
    &__row {}
    &__number {
        display: inline-block;
        margin-right: 40px;
        color: #ffffff;
        font-family: "DIN Pro";
        font-size: 52px;
        font-weight: 900;
        line-height: 43px;
        text-transform: uppercase;
    }
    &__adress {
        display: inline-block;
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        b,
        strong {
            font-weight: 800;
        }
    }
    &__social {
        display: inline-block;
        a {
            display: inline-block;
            margin: 8px;
        }
    }
}

.sub-header {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    border-bottom: 1px solid #2f3244;
    z-index: 999;
    transition: all 0.15 ease-out;
    * {
        transition: all 0.15 ease-out;
    }
    &_fixed {
        position: fixed !important;
    }
    &_dark {
        background: rgba(47, 50, 68, 0.95) !important;
        .sub-header__title {
            color: #eeeff4 !important;
            li {
                a {
                    color: #eeeff4 !important;
                }
            }
        }
    }
    &_light {
        border-color: #dedfe5 !important;
        background: #eeeff4 !important;
        .sub-header__logo {
            border-color: #dedfe5 !important;
        }
        .sub-header__column {
            border-color: #dedfe5 !important;
        }
        .sub-header__title {
            color: #000000 !important;
            li {
                a {
                    color: #000000 !important;
                }
            }
        }
        .sub-header__nav {
            img {
                -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
    }
    &__column {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        border-right: 1px solid #2f3244;
    }
    &__nav {
        display: inline-block;
        padding: 25px;
        border: none;
        background: transparent;
        outline: none;
    }
    &__logo {
        display: inline-block;
        padding: 40px 20px;
        //border-bottom: 1px solid #2f3244;
        transition: all 1s ease-out;
        &:hover {
            img {
                opacity: 0.8;
            }
        }
        img {
            max-width: 100%;
            transition: all 0.5s ease-out;
        }
    }
    &__title {
        display: inline-flex;
        align-items: center;
        height: 100%;
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        padding-left: 40px;
        list-style: none;
        font-family: "P 22 Underground CY Pro";
        font-size: 48px;
        font-weight: 800;
        li {
            display: none;
            a {
                text-decoration: none;
                &:hover,
                &:active {
                    text-decoration: none;
                }
            }
        }
    }
}

.main-call {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #1c1f33;
    z-index: 9999;
    &_active {
        display: flex !important;
    }
    &__close {
        display: block;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        padding: 25px;
        border: none;
        border: 1px solid #444757;
        background: transparent;
        transition: all 0.15s ease-out;
    }
    &__form {
        max-width: 480px;
        button {
            display: inline-block;
            float: right;
            margin-top: 30px;
            padding: 14px 20px;
            border: 1px solid #e72165;
            background-color: #e72165;
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 20px;
            font-weight: 300;
            transition: all 0.15s ease-out;
            &:hover {
                background: transparent;
                color: #e72165
            }
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ffffff;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #ffffff;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: #ffffff;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: #ffffff;
        }
    }
    &__form-input {
        display: block;
        margin-bottom: 20px;
        margin-right: 15px;
        width: 100%;
        padding: 12px;
        border: 1px solid #444757;
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
        font-family: "P 22 Underground CY Pro";
        font-size: 20px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:last-child {
            margin-right: 0;
        }
        &:focus {
            outline: none;
            border-color: #e72165;
        }
    }
    &__form-row {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
    &__form-column {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    &__form-time {
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]+label {
            display: inline-block;
            padding: 14px 24px;
            border: 1px solid #444757;
            background-color: rgba(0, 0, 0, 0);
            color: #ffffff;
            font-family: "P 22 Underground CY Pro";
            font-size: 20px;
            font-weight: 300;
            transition: all 0.15s ease-out;
            .main-call__form-time {
                display: inline-flex;
                position: relative;
                span {
                    font-size: 10px;
                }
            }
            * {
                transition: all 0.15s ease-out;
            }
        }
        input[type="radio"]:checked+label {
            border-color: #ffffff !important;
        }
    }
    &__form-title {
        display: block;
        margin-bottom: 15px;
        color: #f6fbfc;
        font-family: "P 22 Underground CY Pro";
        font-size: 42px;
        font-weight: 800;
    }
    &__form-small {
        display: block;
        margin-bottom: 7px;
        color: #858aa8;
        font-family: "P 22 Underground CY Pro";
        font-size: 8px;
        font-weight: 300;
        text-transform: uppercase;
    }
}