@media (max-width: 1440px) {
  .main-perfomance__title {
    font-size: 100px;
    top: 100px;
  }
  .main-perfomance__title_small {
    font-size: 36px;
  }
  .main-perfomance__triada {
    min-height: 300px;
  }
  .main-how__card {
    height: 70px;
  }
  .sub-header__title {
    font-size: 32px;
  }
  .sub-header__logo {
    padding: 10px;
  }
  .sub-header__nav {
    padding: 10px;
  }
  .main-team__about {
    padding: 20px 100px;
  }
  .main-team__title {
    font-size: 26px;
    margin: 70px 0 10px;
  }
  .main-team__about p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .main-how__companies-title {
    margin-top: 100px;
  }
  .main-customers__card-pop-title {
    font-size: 18px;
  }
}

@media (max-width: 1366px) {
  .main-team__card {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    justify-content: space-around;
    position: relative;
  }
  .main-header__call {
    padding: 12px 24px;
  }
  .main-header__phone-number {
    margin: 6px 12px;
  }
  .main-header__nav {
    border: none;
  }
  .main-perfomance__title {
    font-size: 64px;
    top: 20px;
    left: 20px;
    div {
      margin-bottom: 20px;
    }
  }
  .main-perfomance {
    padding: 0;
    height: auto;
    min-height: 500px;
  }
  .main-perfomance__triada {
    min-height: 500px;
  }
  .main-perfomance__features {
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
  }
  .main-perfomance__flag {
    margin-bottom: 20px;
    &:before {
      display: none;
    }
  }
  .main-perfomance__feature {
    margin-bottom: 30px;
  }
  .main-how__first {
    padding: 20px;
  }
  .main-how__second {
    padding: 20px;
  }
  .main-how__mounth {
    padding: 20px;
  }
  .main-how__companies {
    height: auto;
  }
  .main-how__companies-title {
    flex: 0 0 auto;
    margin: 20px 0;
  }
  .main-how__card {
    width: 50%;
  }
  .main-marketing__card {
    min-height: auto;
    padding: 20px;
  }
  .main-team__about {
    height: auto;
    padding: 30px;
  }
  .main-team__cards {
    padding: 30px;
  }
  .main-customers__card {
    min-height: auto;
    width: 50%;
    flex: 1 1 auto;
  }
  .main-begin {
    padding: 30px;
  }
  .main-begin__about {
    padding: 20px;
  }
  .main-begin__form-row {
    justify-content: space-around;
  }
  .main-begin__stas {
    margin-top: 30px;
    align-items: center;
  }
  .main-footer__number {
    margin: 10px;
    font-size: 32px;
  }
  .main-footer {
    justify-content: space-around;
    text-align: center;
  }
  .main-how__what {
    display: none;
  }
  .main-team__about {
    display: none;
  }
  .main-team__cards {
    justify-content: center;
  }
  .main-call__form button {
    float: none;
    width: 100%;
  }
  .sub-header {
    display: none;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 1440px) {
  .main-how__card {
    padding: 40px;
  }
}

@media (min-width: 1600px) {
  .main-how__card {
    padding: 50px;
  }
}