.container:before {
    display: none;
    content: none;
}

.container:after {
    display: none;
    content: none;
}

.row {
    padding: 0 !important;
}

.popover {
    min-width: 25% !important;
    min-height: 350px !important;
    margin: 0 !important;
    box-shadow: none !important;
    border: 1px solid #1c1f33 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    background: #1c1f33 !important;
    z-index: 990 !important;
}

.popover-content {
    padding: 24px;
    border: none;
    background-color: transparent;
    p {
        color: #fff;
        font-family: "P 22 Underground CY Pro";
        font-size: 14px;
        font-weight: 300;
    }
}

.popover.right>.arrow {
    //display: none;
    border-right-color: #1c1f33 !important;
    &:after {
        border-right-color: #1c1f33 !important;
    }
}

.popover.left>.arrow {
    //display: none;
    border-left-color: #1c1f33 !important;
    &:after {
        border-left-color: #1c1f33 !important;
    }
}

.popover.left>.arrow {
    //display: none;
}