// bower:scss
// endbower
body {
  font-family: "P 22 Underground CY Pro", sans-serif;
  font-size: 14px;
  background-color: #eeeff4;
  color: #000000;
}

@font-face {
  font-family: "DIN Pro";
  font-weight: 900;
  src: url('../fonts/DINPro.otf');
}

@font-face {
  font-family: "P 22 Underground CY Pro";
  font-weight: 300;
  src: url('../fonts/P22UndergroundBook.otf');
}

@font-face {
  font-family: "P 22 Underground CY Pro";
  font-weight: 800;
  src: url('../fonts/P22UndergroundHeavy.otf');
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";